body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 60px;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.menu {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu a {
  background-color: white;
  padding: 15px 30px;
  color: #111;
  border-radius: 5px;
  text-transform: uppercase;
}

.menu a:hover {
  background-color: #ada9a9;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 970px;
}

.introducao {
  background-color: white;
  padding: 40px;
  text-align: end;
  position: relative;
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 20px;
}

.detalhe {
  width: 60px;
  height: 4px;
  background-color: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

.btn {
  background-color: #e21;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #e7483a;
}

.subtitulo {
  font-size: 60px;
  color: #ada9a9;
  text-align: end;
  padding: 40px;
  align-self: center;
  text-transform: uppercase;
}

.vantagens {
  background-color: white;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 7px 20px;
  padding: 20px;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}


